/********** Template CSS **********/
:root {
    /* --primary: #06BBCC; */
    --primary: #005DA1; 
    --title:#3EC0C0;
    --header:#3EC0C0;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 4%;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
    
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--header);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}




.frame-3,
.frame-3 * {
  box-sizing: border-box;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 22px;
  height: 52px;
  position: static;
}
.ellipse-1 {
  background: #d3d4d6;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.material-symbols-call {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 14px;
  top: 14px;
  overflow: visible;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.talk-to-an-expert {
  color: #005da1;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
._91-98911-46941 {
  color: #005da1;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 600;
  position: relative;
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}



/* === HEADING STYLE #1 === */
.one  {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    color: var(--title);
    margin-bottom: 15px;
  }
  .one h1{
    color: var(--title);
    word-spacing:10px
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 11px;
    left: 50%;
    margin-left: -14px;
    background-color: #9A1D8A;
  }
  .one h1:after {
    /* width: 100px; */
    height: 1px;
    display: block;
    content: "";
    position: relative;
    /* margin-top: 25px; */
    /* left: 50%; */
    /* margin-left: -50px; */
    background-color: #9A1D8A;
  }


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

/* .section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
} */

.section-title h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .section-title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

/* .section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
} */
/* Slider  */
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1750px);
    }
  }
.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 95vw;
    margin-top: -50px;
  }
  /* .slider h1 {
    text-align: center;
    color: #2D1491;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } */
  .slider::before, .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 30px;
    width: 3500px;
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  

/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}










/* Start About Area css
============================================================================================ */
.h_blog_item .col-lg-6 {
    vertical-align: middle;
    align-self: center; }
  .h_blog_item .h_blog_img {
    position: relative;
    z-index: 10; }
  .h_blog_item .h_blog_text {
    padding-top: 0px;
    padding-bottom: 20px; }
    .h_blog_item .h_blog_text .h_blog_text_inner {
      background: #fff;
      padding: 75px 90px;
      border-radius: 10px; }
      @media (max-width: 991px) {
        .h_blog_item .h_blog_text .h_blog_text_inner {
          padding: 30px 15px; } }
      .h_blog_item .h_blog_text .h_blog_text_inner.left {
        position: relative;
        z-index: 2; }
      .h_blog_item .h_blog_text .h_blog_text_inner.right {
        margin-left: -104px;
        position: relative;
        z-index: 1;
        border: 10px solid #f9f9ff; }
        @media (max-width: 991px) {
          .h_blog_item .h_blog_text .h_blog_text_inner.right {
            margin-left: 0px; } }
      .h_blog_item .h_blog_text .h_blog_text_inner h4 {
        color: #002347;
        font-size: 30px;
        margin-bottom: 15px; }
      .h_blog_item .h_blog_text .h_blog_text_inner p {
        margin-bottom: 30px; }
  
  /* End About Area css



/* process steps */
/*process-box*/
/* body{
    background: #eee;
} */

.work-process .row {
    display: flex;
    align-items: stretch;
  }
  
  .work-process .row .col-md-5 {
    display: flex;
  }
  

.process-box{
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 7px 0 #00000057;
    flex-grow: 1;
}
.process-left:after{
        content: "";
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: inline-grid;
    position: absolute;
    right: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: 3px -2px 3px 0px #00000036;
    z-index: 1;
}
.process-right:after{
        content: "";
    border-top: 15px solid #ffffff00;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff00;
    display: inline-grid;
    position: absolute;
    left: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: -1px 1px 3px 0px #0000001a;
    z-index: 1;
}
.process-step{
    background: #00BCD4;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    padding-top: 8px;
    position: relative;
    top: -26px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -6px 8px 0px 0px #00000014;
        max-height: 100px;

}
.process-point-right{
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #00bcd4;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom: 65px;
    left: -63px;
}
.process-point-right:before{
    content: "";
    height: 180px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(30deg);
    position: relative;
    left: -50px;
    top: 5px;
}
.process-point-left{
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #00bcd4;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom: 65px;
    right: -93px;
}
.process-point-left:before {
    content: "";
    height: 180px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(331deg);
    position: relative;
    left: 50px;
    top: 5px;

}

.process-last:before{
    display: none;
}
.process-box p{
    z-index: 9;
}
.process-step p{
    font-size: 20px;
}
.process-step h2{
    font-size: 39px;
}
.process-step:after{
    content: "";
    border-top: 8px solid #04889800;
    border-bottom: 8px solid #048898;
    border-left: 8px solid #04889800;
    border-right: 8px solid #048898;
    display: inline-grid;
    position: absolute;
    left: -16px;
    top: 0;
}
.process-step:before{
    content: "";
    border-top: 8px solid #ff000000;
    border-bottom: 8px solid #048898;
    border-left: 8px solid #048898;
    border-right: 8px solid #ff000000;
    display: inline-grid;
    position: absolute;
    right: -16px;
    top: 0;
}
.process-line-l{
    background: #005DA1;
    height: 4px;
    position: absolute;
    width: 136px;
    right: -153px;
    top: 64px;
    z-index: 9;
    width: 146px;
    right: -168px;
    top: 81px;
}
.process-line-r{
    background: #005DA1;
    height: 4px;
    position: absolute;
    width: 136px;
    left: -153px;
    top: 63px;
    z-index: 9;
    width: 22%;
    left: -26%;

    top: 81px;
    /* z-index: 9; */
    width: 22%;
    left: -26%;

}


@media screen and (max-width:1400px) {
    .process-point-right{
        background: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #00bcd4;
        box-shadow: 0 0 0px 4px #5c5c5c;
        margin: auto 0;
        position: absolute;
        bottom: 81px;
        left: -63px;
        /* z-index: 1; */
    }
    .process-point-right:before{
        content: "";
        height: 207px;
        width: 11px;
        background: #5c5c5c;
        display: inline-grid;
        transform: rotate(22deg);
        position: relative;
        left: -40px;
        top: -10px;
        z-index: -1;
    }
    .process-point-left{
        background: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #00bcd4;
        box-shadow: 0 0 0px 4px #5c5c5c;
        margin: auto 0;
        position: absolute;
        bottom: 81px;
        right: -80px;
        /* z-index: 1; */
    }
    .process-point-left:before {
        content: "";
        height: 207px;
        width: 11px;
        background: #5c5c5c;
        display: inline-grid;
        transform: rotate(160deg);
        position: relative;
        left: 38px;
        top: 0px;
        z-index: -1;
    }
    
    .process-last:before{
        display: none;
    }
    .process-box p{
        z-index: 9;
    }
    .process-step p{
        font-size: 20px;
    }
    .process-step h2{
        font-size: 39px;
    }
    .process-step:after{
        content: "";
        border-top: 8px solid #04889800;
        border-bottom: 8px solid #048898;
        border-left: 8px solid #04889800;
        border-right: 8px solid #048898;
        display: inline-grid;
        position: absolute;
        left: -16px;
        top: 0;
    }
    .process-step:before{
        content: "";
        border-top: 8px solid #ff000000;
        border-bottom: 8px solid #048898;
        border-left: 8px solid #048898;
        border-right: 8px solid #ff000000;
        display: inline-grid;
        position: absolute;
        right: -16px;
        top: 0;
    }
    .process-line-l{
        background: #005DA1;
        height: 4px;
        position: absolute;
       
        z-index: 9;
        width: 146px;
        right: -165px;
        top: 91px;
    }
    .process-line-r{
        background: #005DA1;
        height: 4px;
        position: absolute;
        width: 136px;
        left: -153px;
    
        top: 91px;
        z-index: 9;
        width: 23%;
        left: -27%;
    
    }
}


@media screen and (max-width:1200px) {
    .process-point-right{
        background: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #00bcd4;
        box-shadow: 0 0 0px 4px #5c5c5c;
        margin: auto 0;
        position: absolute;
        bottom: 111px;
        left: -43px;
        /* z-index: 1; */
    }
    .process-point-right:before{
        content: "";
        height: 259px;
        width: 11px;
        background: #5c5c5c;
        display: inline-grid;
        transform: rotate(21deg);
        position: relative;
        left: -40px;
        top: -10px;
        z-index: -1;
    }
    .process-point-left{
        background: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #00bcd4;
        box-shadow: 0 0 0px 4px #5c5c5c;
        margin: auto 0;
        position: absolute;
        bottom: 111px;
        right: -60px;
        /* z-index: 1; */
    }
    .process-point-left:before {
        content: "";
        height: 249px;
        width: 11px;
        background: #5c5c5c;
        display: inline-grid;
        transform: rotate(342deg);
        position: relative;
        left: 38px;
        top: 0px;
        z-index: -1;
    }
    
    .process-last:before{
        display: none;
    }
    .process-box p{
        z-index: 9;
    }
    .process-step p{
        font-size: 20px;
    }
    .process-step h2{
        font-size: 39px;
    }
    .process-step:after{
        content: "";
        border-top: 8px solid #04889800;
        border-bottom: 8px solid #048898;
        border-left: 8px solid #04889800;
        border-right: 8px solid #048898;
        display: inline-grid;
        position: absolute;
        left: -16px;
        top: 0;
    }
    .process-step:before{
        content: "";
        border-top: 8px solid #ff000000;
        border-bottom: 8px solid #048898;
        border-left: 8px solid #048898;
        border-right: 8px solid #ff000000;
        display: inline-grid;
        position: absolute;
        right: -16px;
        top: 0;
    }
    .process-line-l{
        background: #005DA1;
        height: 4px;
        position: absolute;
       
        /* z-index: 9; */
        width: 110px;
        right: -128px;
        top: 111px;
    }
    .process-line-r{
        background: #005DA1;
        height: 4px;
        position: absolute;
        width: 136px;
        left: -153px;
    
        top: 111px;
        z-index: 9;
        width: 24%;
    left: -29%;
    
    }
}



@media screen and (max-width:1000px) {
    .process-point-right{
        background: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #00bcd4;
        box-shadow: 0 0 0px 4px #5c5c5c;
        margin: auto 0;
        position: absolute;
        bottom: 135px;
        left: -28px;
        /* z-index: 1; */
    }
    .process-point-right:before{
        content: "";
        height: 317px;
        width: 11px;
        background: #5c5c5c;
        display: inline-grid;
        transform: rotate(17deg);
        position: relative;
        left: -40px;
        top: -10px;
        z-index: -1;
    }
    .process-point-left{
        background: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #00bcd4;
        box-shadow: 0 0 0px 4px #5c5c5c;
        margin: auto 0;
        position: absolute;
        bottom: 135px;
        right: -36px;
        /* z-index: 1; */
    }
    .process-point-left:before {
        content: "";
        height: 291px;
        width: 11px;
        background: #5c5c5c;
        display: inline-grid;
        transform: rotate(343deg);
        position: relative;
        left: 38px;
        top: 0px;
        z-index: -1;
    }
    
    .process-last:before{
        display: none;
    }
    .process-box p{
        z-index: 9;
    }
    .process-step p{
        font-size: 20px;
    }
    .process-step h2{
        font-size: 39px;
    }
    .process-step:after{
        content: "";
        border-top: 8px solid #04889800;
        border-bottom: 8px solid #048898;
        border-left: 8px solid #04889800;
        border-right: 8px solid #048898;
        display: inline-grid;
        position: absolute;
        left: -16px;
        top: 0;
    }
    .process-step:before{
        content: "";
        border-top: 8px solid #ff000000;
        border-bottom: 8px solid #048898;
        border-left: 8px solid #048898;
        border-right: 8px solid #ff000000;
        display: inline-grid;
        position: absolute;
        right: -16px;
        top: 0;
    }
    .process-line-l{
        background: #005DA1;
        height: 4px;
        position: absolute;
       
        /* z-index: 9; */
        width: 80px;
    right: -101px;
    top: 131px;
    }
    .process-line-r{
        background: #005DA1;
        height: 4px;
        position: absolute;
        width: 136px;
        left: -153px;
    
        top: 131px;
        z-index: 9;
        width: 27%;
    left: -34%;
    
    }
}



.scroll-show-popUp {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
  }
  .scroll-show-popUp .overlay-popUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px); /* Add the blur effect */
    z-index: 998; /* Place it behind the contact form */
  }
  .scroll-show-popUp .contact-form-scroll {
    display: none;
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #E9EFFB;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-width: 280px;
    max-width: 500px;
    max-height: 80vh;
    overflow: auto;
  }
  .scroll-show-popUp .contact-form-scroll #closeButton {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  .scroll-show-popUp .contact-form-scroll #closeButton:hover {
    color: red;
  }
  .scroll-show-popUp .contact-form-scroll form input, .scroll-show-popUp .contact-form-scroll form textarea {
    display: flex;
    width: 100%;
    padding: 10.265px 13.687px;
    align-items: center;
    gap: 6.843px;
    align-self: stretch;
    border-radius: 6.843px;
    border: 0.855px solid var(--gray-300, #D0D5DD);
    background: var(--white, #FFF);
    box-shadow: 0px 0.8554145694px 1.7108291388px 0px rgba(16, 24, 40, 0.05);
    margin-bottom: 20px;
  }
  .scroll-show-popUp .contact-form-scroll form input[type=submit] {
    color: #ffffff;
    font-size: 22px;
    width: auto;
    margin: auto;
    display: flex;
    padding: 10.265px 17.108px;
    justify-content: center;
    align-items: center;
    gap: 6.843px;
    -webkit-box-flex: 1;
    border-radius: 6.843px;
    border: 0.855px solid #3E22ED;
    background: #3E22ED;
    box-shadow: 0px 0.85541px 1.71083px 0px rgba(16, 24, 40, 0.05);
  }/*# sourceMappingURL=style.css.map */

  /* Sticky Social Icon */

  .sticky-icon  {
	z-index:1;
	position:fixed;
	/* top:25%; */
    bottom: 100px;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;}  
.sticky-icon a  {
	transform:translate(160px,0px);
	border-radius:50px 0px 0px 50px;
	text-align:left;
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:22px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;}
.sticky-icon a:hover  {
	color:#FFF;
	transform:translate(0px,0px);}	
.sticky-icon a:hover i  {
	transform:rotate(360deg);}
/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/
.Facebook  {
	background-color:#2C80D3;
	color:#FFF;}
	
.Youtube  {
	background-color:#fa0910;
	color:#FFF;}
	
.Twitter  {
	background-color:#53c5ff;
	color:#FFF;}
	
.Instagram  {
	background-color:#FD1D1D;
	color:#FFF;}
	
.Google  {
	background-color:#d34836;
	color:#FFF;}						
.sticky-icon a i {
	background-color:#FFF;
	height:40px;
	width:40px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-right:20px;
	transition:all 0.5s;}
.sticky-icon a i.fa-facebook-f  {
	background-color:#FFF;
	color:#2C80D3;}
	
.sticky-icon a i.fa-google-plus-g  {
	background-color:#FFF;
	color:#d34836;}
	
.sticky-icon a i.fa-instagram  {
	background-color:#FFF;
	color:#FD1D1D;}
	
.sticky-icon a i.fa-youtube  {
	background-color:#FFF;
	color:#fa0910;}
	
.sticky-icon a i.fa-twitter  {
	background-color:#FFF;
	color:#53c5ff;}
.fas fa-shopping-cart  {
	background-color:#FFF;}	
#myBtn {
	height:50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align:center;
  padding:10px;
  text-align:center;
	line-height:40px;
  border: none;
  outline: none;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-circle-up  {
	font-size:30px;}

#myBtn:hover {
  background-color: #555;
}	


/* captcha */

.box-captcha {
    background-color: #f1f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
  }
  
  .captcha {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    padding: 3px;
    border-radius: 5px;
    text-decoration: line-through;
    color: #a0a0a0;
    background-color: #0c0c0c;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .restart a {
    text-decoration: none;
  }
  
  .errmsg {
    color: black;
    padding: 5px;
    transition: 0.5s ease;
  }

  .fa-map-marker-alt,.fa-phone-alt , .fa-envelope{
    color: #ffffff;
  }
    p:has(.fa-map-marker-alt) {
        color: #FFFFFF; /* Sets the color of the entire <p> element to green */
      }

      p:has(.fa-phone-alt) {
        color: #FFFFFF; /* Sets the color of the entire <p> element to green */
      }

      p:has(.fa-envelope) {
        color: #FFFFFF; /* Sets the color of the entire <p> element to green */
      }



      /* .our-services {
        background-color: #00BCD4;
        padding: 70px 0px;
    } */
    .service-box {
        background-color: #fff;
        padding: 15px 20px;
        border-radius: 8px;
        margin: 15px 0px 15px;
        transition: 0.5s;
        border: 1px solid transparent;
    }
    .service-box:hover {
        background-color: #f9f9f9;
        border-radius: 40px;
        border: 1px solid #ddd;
    }
    .service-box:hover h3 a{
      color: #00bcd4;
    }
    .service-box i {
        font-size: 60px;
        align-items: center;
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        color: #989898;
    }
    .service-box h3 a {
        text-decoration: none;
        color: #3EC0C0;
        font-size: 24px;
    }
    .service-box :before {
        margin: 0 auto;
        display: block;
        float: none;
    }